.all-patients-table {
    margin-top: 4rem;
}

.head {
    background-color: color;
}

.mar-top {
    margin-top: 4rem !important;
}

.white {
    background-color: lightgray;
    color: white;
}

/* Define the color variables */
:root {
    --primary-color: #5D5FEF;
    --secondary-text-color: #A0A3B1;
    --text-color: #2B2D42;
    --background-color: #FFFFFF;
    --accent-red: #FF5E57;
    --accent-green: #00C896;
    --accent-blue: #00A3FF;
    --accent-purple: #6C63FF;
    --hover-background: #F0F4FF;
}

.demo-heading{
    background-color: var(--primary-color);
    color: white;
}